@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
@font-face { font-family: "analog-whisper"; src: url(analog_whisp.ttf); }

/* Base styles */
.clean { border: none; margin: nomne;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
.name {
    font-family: "analog-whisper";
    font-weight: normal;
    color: #22A4E6;
    border-bottom: 1.5px solid #D3CEC9;
    letter-spacing: 2px;
}
.name a {text-decoration: none; }
.pxtext {
    font-family: "analog-whisper";
    font-weight: normal;
    color: #22A4E6;
    letter-spacing: 2px;
    text-decoration: none;
}
hr {
  height: 1.5px;
  border: 0;
  border-top: 1.5px solid #D3CEC9;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 1.25rem;
}
a:link { color: #22A4E6; }
body {
    font-family:  "Bitter";
    font-weight: 500;
    max-width: 33rem;
    font-size: 0.95rem;
    padding: 1.5em;
    line-height: 1.5;
    margin: auto;
    color: #5C6166;
    background-color: #F8F9FA;
}
pre, code, samp, kbd {
    font-family: "JetBrains Mono" !important;
    font-size: 0.9em;
    border: 1px #D3CEC9 solid;
    padding-left: 0.3em;
    padding-right: 0.3em;
}
code, samp, kbd {
    background-color: #EBE9E6;
}
blockquote {
    color: #6F6E69;
}
pre {
    padding: 0.75em;
    background-color: #EBE9E6;
    border: 2px #D3CEC9 solid;
}

pre code {
    color: #009;
}
pre kbd {
    color: #090;
}

table,
td, th {
    font-size: 1em;
    border: 1.5px #D3CEC9 solid;
    border-collapse: collapse;
    padding: 0.5em;
}
th {
    background-color: #EBE9E6;
}

/* Dark styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #10141C;
        color: #BFBDB6;
    }
    blockquote {
        color: #D3CEC9;
    }
    a:link {
        color: #FFB454;
    }

    a:visited {
        color: #E89D37;
    }
    hr {
      border-top: 1.5px solid #5B5650;
    }
    pre {
        background-color: #5A637842;
        border: 2px solid #5A6378A1;
        padding: 0.75em;
    }
    code, samp, kbd {
        background-color: #5A637842;
        border: 1px solid #5A6378A1;
    }
    pre code {
        color: #bbb;
    }
    td, th {
        font-size: 1em;
        border: 1.5px solid #5A6378A1;
    }
    th {
        background-color: #5A637842;
    }
    .name {
        color: #FFB454;
        border-bottom: 1.5px solid #5A6378A1;
    }
    .pxtext {
        color: #FFB454;
    }
}

@media only screen and (max-width: 720px) {
    img {
        max-width: 100%;
    }

    pre {
        overflow-y: scroll;
    }
}
