@font-face {
  font-family: "meslo-lg";
  src: url(meslo-lg.ttf);
  font-weight: bold;
}
body, pre {
    font-family: "meslo-lg";
    overflow-wrap: break-word;
    max-width: 35em;
    margin: auto;
    padding: 1em;
}
pre {
    white-space: pre-wrap;
    font-size: 0.95em;
}
@media (prefers-color-scheme: dark) {
    a {
        color: #FFE57F;
    }
    body {
        color: white;
        background-color: black;
    }
}
